.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}

.datasetRadiobuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.datasetBoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.datasetRadiobuttons > * {
    width: 30%;
}

.characterSelectionMenu, .characterSelectionMenu div {
    display: flex;
    flex-direction: row;
} 

.characterSelectionMenu {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.characterSelectionMenu div {
    width: 10em;
    justify-content: space-between;
}

.radioChart {
    aspect-ratio: 1;
    @media (min-width: 768px) {
        width: 50%;
        max-height: 75vh;
        aspect-ratio: 1;
    }
    @media (max-width: 767px) {
        width: 100%;
        aspect-ratio: 1;
    }
}
