.container { 
    display: flex;
    flex-direction: column;
    width: '100%';
    max-height: '100vh'; 
    align-items: center;
}

.characterSelectionMenu, .characterSelectionMenu div {
    display: flex;
    flex-direction: row;
} 

.characterSelectionMenu {
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.characterSelectionMenu div {
    flex: 1 0 21%;
    justify-content: center;
}
