.pageTitle {
    width: 100%;
    z-index: 2;
    
    text-align: center;
    font-size: x-large;
}

.pageHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #4f3565;
    margin: 0;
    padding: 1vh 0;

    > nav > ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    > nav > ul > li {
        font-size: large;
        flex: 0 0 33%;
        text-align: center;
    }

    // > nav > ul > ul.dropdownMenu {
    //     position: absolute;
    //     // padding-left: 0;
    //     display: block;
    //     // left: 0;
    //     // top: 100%;
    //     // width: 100%;
    // }

    > nav > ul > ul.dropdownMenu > li {
        visibility: hidden;
    }

    > nav > ul > ul.dropdownMenu:hover > li {
        visibility: visible;
        position: absolute;
        // padding-left: 0;
        display: block;
    }

}