@import '../../../../styles/theme/theme.scss';

.container {
    background-color: $second-level-container-bg;
    padding: 0.5em;

    border: 1px solid $second-level-container-border;
    border-radius: 0.25em;    

    display: flex;
    flex-direction: column;
    align-items: center;
} 

.container * {
    text-align: center;
    width: 100%;
}